
.slider {
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    height: 300px;
    width: 1000px;
  }
  
  ul {
    padding: 0;
    margin: 0;
    width: 1000px;
    height: 300px;
    overflow: hidden;
  }
  
  li {
    padding: 0;
    margin: 0;
    width: 1000px;
    height: 300px;
    position: relative;
    display: block;
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  body {
    margin: 0 auto;
  }