/**{margin:0;padding: 0}*/
/*ul,li{list-style: none}*/
/*a{text-decoration: none; color: black; display: block}*/
/*body{background-color: antiquewhite}*/
/*header{width: 100%; height: 80px;background-color: darkkhaki; position: absolute;text-align: center; left: 0; top: 0;}*/
/*nav{width: 960px; margin: 0 auto}*/
/*.main_menu{width: 100%; line-height: 80px; text-align: center}*/
/*.main_menu>li:hover .sub_menu{!*display: block;*! height: 160px}*/
/*.top_menu{width: calc(100%/4); float: left;}*/
/*.sub_menu{line-height: 50px; !*display: none;*! height: 0; overflow: hidden; !*transition: 1s*!; transition-duration: 1s}*/
/*.sub_menu>li>a{width: 100%; height: 40px; background-color: blanchedalmond}*/
/*#box{width: 960px; height: 500px; background-color: #00cccc; margin: 0 auto;padding-top: 100px}*/
*{margin:0;padding: 0}
ul,li{list-style: none;}
a{text-decoration: none; color: black; display: block}
body{background-color: antiquewhite}
header{width: 100%; height: 80px;background-color: darkkhaki; position: absolute;text-align: center; left: 0; top: 0;}
nav{width: 960px; margin: 0 auto}
.main_menu{width: 100%;line-height: 80px; text-align: center}
.top_menu{width: calc(100%/4); float: left;}
.top_menu:hover .sub_menu{display: block}
.sub_menu{line-height: 50px; display: none;}
.sub_menu>li>a{width: 100%; height: 50px; background-color: blanchedalmond}
#box{width: 960px; height: 500px; background-color: #00cccc; margin: 0 auto;padding-top: 100px}
