*{box-sizing: border-box;}
body{width: 100vw; height: 100vh;margin: 0;}
.item {border: 1px solid black;display: flex; font-size: 1.2rem; font-weight: bold; opacity: 0.8; justify-content: center; align-items: center;}
.color1 {background-color: red;}
.color2 {background-color: orange;}
.color3 {background-color: yellow;}
.color4 {background-color: green;}
.color5 {background-color: blue;}
.color6 {background-color: red;}
.color7 {background-color: orange;}
.color8 {background-color: yellow;}
.color9 {background-color: green;}
.color10 {background-color: blue;}
